
$primary-color: #DDDDDD;
$font-color:#222222;

$secondary-color: #848383;
$secondary-font-color:#efefef;

$active-color:#ffffff;
$active-text:#000000;

$block-height:375px;
$block-width:300px;

@mixin photo-fade($duration){
  -webkit-transition: visibility 0s $duration, opacity $duration;
     -moz-transition: visibility 0s $duration, opacity $duration;
      -ms-transition: visibility 0s $duration, opacity $duration;
          transition: visibility 0s $duration, opacity $duration;
}

@mixin photo-unfade($duration){
  -webkit-transition: visibility 0s 0s, opacity $duration;
     -moz-transition: visibility 0s 0s, opacity $duration;
      -ms-transition: visibility 0s 0s, opacity $duration;
          transition: visibility 0s 0s, opacity $duration;
}

@mixin button-fade($duration){
  -webkit-transition: all $duration ease-in-out;
     -moz-transition: all $duration ease-in-out;
      -ms-transition: all $duration ease-in-out;
          transition: all $duration ease-in-out;
}



.cachemakers-block{font-family: 'Raleway', sans-serif;}

  .container{
    @extend .cachemakers-block;

    display:inline-block; text-align:center; height:$block-height;
    width:$block-width; margin:10px; background-color:$primary-color;
    position:relative; color:$font-color;
    box-shadow: 4px 4px 2px gray;
    .image-box img{visibility:visible; opacity:1;}

    &:hover{
      .image-box
              img{
                @include photo-fade(.2s);
                opacity:0; visibility:hidden;
              }
            }
    }

  .image-box{
    @extend .cachemakers-block;
    height:150px; width:100%; position:relative; overflow:hidden;

    img{
      @include photo-unfade(.2s);
      position:absolute; left:0px;
      top:0px; height:100%; width:100%;
    }

    p{font-size:80%; padding:10px;}

    .signup-box{
      width:100%; height:33%; overflow:hidden;

      h4{position:absolute; left:0%; margin:5%; font-size:110%;}
      button{
        position:absolute; right:0%; margin:5%;
        font-size:125%; background-color:$secondary-color;
        color:$secondary-font-color;

        &:hover{
          @include button-fade(.2s);
          background-color:$active-color; color:$active-text;
        } /*Add Button Fade*/
      }
    }
  }



  .info{
    @extend .cachemakers-block;
    font-size:75%;
      h2{padding:5px; margin:5px;}
      .dateTime{font-size:125%}
      .tags{font-size:50%;}
  }
